{% extends "layout.html" %}
{% block content %}

<img src="static/images/info.jpg" alt="Car" style="width:100%">

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>What is Brain Tumor?</h1>
        </header>
        
        <div class="w3-container">
          <p>
		A cancerous or non-cancerous mass or growth of abnormal cells in the brain.
		Tumours can start in the brain, or cancer elsewhere in the body can spread to the brain.
		Symptoms include new or increasingly strong headaches, blurred vision, loss of balance, confusion and seizures. In some cases, there may be no symptoms.
		Treatments include surgery, radiation and chemotherapy.
        </p>
        </div>
        
        <footer class="w3-container w3-blue">
          <h5></h5>
        </footer>
        
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>Symptoms</h1>
            </header>
            
            <div class="w3-container">
              <p>
		  Symptoms include new or increasingly strong headaches, blurred vision, loss of balance, confusion and seizures. In some cases, there may be no symptoms.
		  Headache: can be acute or persistent
		  Muscular: difficulty walking, instability, muscle weakness, problems with coordination, weakness of one side of the body, or weakness of the arms and legs
		  Whole body: dizziness, fatigue, or vertigo
		  Gastrointestinal: nausea or vomiting
		  Sensory: pins and needles or reduced sensation of touch
		  Cognitive: inability to speak or understand language or mental confusion
		  Also common: blurred vision, difficulty speaking, personality change, seizures, or sleepiness
            </p>

            </div>
            <footer class="w3-container w3-blue">
                <h5></h5>
              </footer>
              
              </div>
            
           
        <div class="w3-card-4 w3-margin">

                    <header class="w3-container w3-blue">
                      <h1>Precautions</h1>
                    </header>
                    
            <div class="w3-container">
                      <p>
			You cannot prevent a brain tumor. You can reduce your risk of developing a brain tumor by avoiding environmental hazards such as smoking and excessive exposure to radiation.	
                    </p>
            </div>
                    
                    <footer class="w3-container w3-blue">
                      <h5></h5>
                    </footer>
                    
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>Treatment</h1>
            </header>
            
            <div class="w3-container">
              <p>
               Treatments include surgery, radiation and chemotherapy.
            </p>
            </div>
            
            <footer class="w3-container w3-blue">
              <h5></h5>
            </footer>
            
            </div>        
{% endblock %}